Repository neon-mmd/websurfx, pull requests merged in 2023-06, with the labels that each got.

#88 Provide a Settings Page
  public/static/settings.js
  public/static/themes/simple.css
  public/static/ui_plugins.js
  public/templates/header.html
  public/templates/navbar.html
  public/templates/settings.html
Labels: 💻 aspect: code, ⭐ goal: addition, 🕹 aspect: interface

#62 UPDATED: Removed Deprecated API
  public/static/index.js
Labels: 💻 aspect: code

#89 Handle reqwest errors and bump version number
  src/config_parser/parser.rs
  src/engines/duckduckgo.rs
  src/engines/engine_models.rs
  src/engines/mod.rs
  src/engines/searx.rs
Labels: 💻 aspect: code

#98 Optimize build profiles for development and production use
  Cargo.toml
Labels: 🟧 priority: high, 💻 aspect: code, ✨ goal: improvement, 🔢 points: 5

#102 Update README.md
  README.md
Labels: 📄 aspect: text, 🟨 priority: medium, ✨ goal: improvement, 🔢 points: 1

#103 Streamline search and navigation logic for better code maintainability
  public/static/index.js
  public/static/pagination.js
Labels: 💻 aspect: code, 🟨 priority: medium, ✨ goal: improvement, 🔢 points: 3, 🕹 aspect: interface

#104 improve error handling by using `error-stack` crate
  Cargo.lock
  Cargo.toml
  src/engines/duckduckgo.rs
  src/engines/engine_models.rs
  src/engines/searx.rs
  src/search_results_handler/aggregator.rs
Labels: 💻 aspect: code, 🟨 priority: medium, ✨ goal: improvement, 🔢 points: 5

#105 Bump the app version number
  Cargo.lock
  Cargo.toml
Labels: 🟧 priority: high, 💻 aspect: code, 🛠 goal: fix, 🔢 points: 1

#106 Improve the consisteny of toml file
  Cargo.lock
  Cargo.toml
Labels: 💻 aspect: code, 🤖 aspect: dx, 🛠 goal: fix, 🟩 priority: low, 🔢 points: 1

#110 Improve the code associated with the settings page
  Cargo.lock
  Cargo.toml
  public/static/cookies.js
  public/static/settings.js
  public/static/themes/simple.css
  public/templates/cookies_tab.html
  public/templates/engines_tab.html
  public/templates/footer.html
  public/templates/general_tab.html
  public/templates/header.html
  public/templates/navbar.html
  public/templates/settings.html
  public/templates/user_interface_tab.html
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, ✨ goal: improvement, 🕹 aspect: interface, 🔢 points: 5

#115 FIX: Replace hashes with appropriate links
  public/templates/footer.html
Labels: 💻 aspect: code, 🛠 goal: fix, 🟩 priority: low, 🔢 points: 1, 🕹 aspect: interface

#116 Fix: Typo in cookies.js
  public/static/cookies.js
Labels: 💻 aspect: code, 🛠 goal: fix, 🟩 priority: low, 🔢 points: 1

#117 Fix: font case in engines_tab.html
  public/templates/engines_tab.html
Labels: 💻 aspect: code, 🛠 goal: fix, 🟩 priority: low, 🔢 points: 1, 🕹 aspect: interface

#120 Update Cargo.toml
  Cargo.toml
Labels: 💻 aspect: code, ⭐ goal: addition, 🟩 priority: low, 🔢 points: 1

#122 Provide config file for gitpod
  .gitpod.yml
  Cargo.lock
  Cargo.toml
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, ✨ goal: improvement, 🔢 points: 5

#125 Improve code quality
  CONTRIBUTING.md
  PULL_REQUEST_TEMPLATE.md
  README.md
  public/static/pagination.js
  src/config_parser/parser.rs
  src/config_parser/parser_models.rs
  src/engines/duckduckgo.rs
  src/engines/engine_models.rs
  src/search_results_handler/aggregator.rs
  src/server/routes.rs
Labels: 💻 aspect: code, ✨ goal: improvement, 🟩 priority: low, 🔢 points: 5
