Repository neon-mmd/websurfx, pull requests merged in 2023-08, with the labels that each got.

#166 fix: ensure that the search functions properly when it is clicked
  Cargo.lock
  Cargo.toml
  public/templates/search_bar.html
Labels: 💻 aspect: code, 🟨 priority: medium, 🛠 goal: fix, 🔢 points: 1

#171 ✨ Config option to allow users to customize the number of threads used by the app
  Cargo.lock
  Cargo.toml
  src/bin/websurfx.rs
  src/config/parser.rs
  src/lib.rs
  tests/index.rs
  websurfx/config.lua
Labels: 💻 aspect: code, ⭐ goal: addition, 🟩 priority: low, 🔢 points: 5

#174 🛠️ Provide CORS protection against CSRF attacks
  Cargo.lock
  Cargo.toml
  src/lib.rs
Labels: 💻 aspect: code, 🟥 priority: critical, 🛠 goal: fix, 🔢 points: 5

#176 🔧 Config options to change the logging level with improved logging
  Cargo.lock
  Cargo.toml
  src/bin/websurfx.rs
  src/config/parser.rs
  src/results/aggregator.rs
Labels: 💻 aspect: code, 🟨 priority: medium, ✨ goal: improvement, 🔢 points: 5

#177 📜 Revise the `docs` to remain in sync with the current changes
  Cargo.lock
  Cargo.toml
  docs/configuration.md
  docs/installation.md
Labels: 🟧 priority: high, 📄 aspect: text, ⭐ goal: addition, 🔢 points: 3

#183 🔧 Gitpod configuration to improve developer experience
  .gitpod.Dockerfile
  .gitpod.yml
  Cargo.lock
  Cargo.toml
Labels: 💻 aspect: code, 🟨 priority: medium, ✨ goal: improvement, 🛠 goal: fix, 🔢 points: 3

#187 🛠️ Change the number of colorschemes available
  README.md
Labels: 🟧 priority: high, 📄 aspect: text, 🛠 goal: fix, 🔢 points: 1

#188 🛠️ Some major fixes
  .cspell.json
  Cargo.lock
  Cargo.toml
  public/templates/search.html
  src/bin/websurfx.rs
  src/config/parser.rs
  src/engines/duckduckgo.rs
  src/engines/engine_models.rs
  src/engines/searx.rs
  src/results/aggregation_models.rs
  src/results/aggregator.rs
  src/server/routes.rs
  tests/index.rs
Labels: 🟧 priority: high, 💻 aspect: code, 🛠 goal: fix, 🔢 points: 8

#190 ✨ Filter user specified content from search results using a `blacklist` and `Allowlist`.
  Cargo.lock
  Cargo.toml
  src/config/parser.rs
  src/handler/mod.rs
  src/handler/paths.rs
  src/handler/public_paths.rs
  src/lib.rs
  src/results/aggregator.rs
  src/server/routes.rs
  websurfx/allowlist.txt
  websurfx/blocklist.txt
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, 🔢 points: 5

#189 ✨ Error box UI to show which engines failed with several UI improvements
  public/images/info.svg
  public/images/no_results.gif
  public/images/warning.svg
  public/static/error_box.js
  public/static/themes/simple.css
  public/templates/bar.html
  public/templates/header.html
  public/templates/index.html
  public/templates/search.html
  public/templates/search_bar.html
  src/results/aggregation_models.rs
Labels: 🟧 priority: high, 💻 aspect: code, ⭐ goal: addition, ✨ goal: improvement, 🕹 aspect: interface, 🔢 points: 5

#191 🧹 Unit tests for the function `filter_with_lists`
  Cargo.lock
  Cargo.toml
  src/results/aggregator.rs
Labels: 🟧 priority: high, 💻 aspect: code, ⭐ goal: addition, ✨ goal: improvement, 🔢 points: 3

#193 🛠️ LuaJIT installation step for GitHub actions
  .github/workflows/rust.yml
  .github/workflows/rust_format.yml
  Cargo.lock
  Cargo.toml
Labels: 💻 aspect: code, 🟥 priority: critical, 🛠 goal: fix, 🔢 points: 3

#196 🛠️ LuaJIT installation step for GitHub actions
  .github/workflows/rust.yml
  .github/workflows/rust_format.yml
  Cargo.lock
  Cargo.toml
Labels: 💻 aspect: code, 🟥 priority: critical, 🛠 goal: fix, 🔢 points: 3
