Repository neon-mmd/websurfx, pull requests merged in 2023-09, with the labels that each got.

#215 📝 Fix link to Documentation in Readme
  README.md
Labels: 🟧 priority: high, 📄 aspect: text, 🛠 goal: fix, 🔢 points: 3

#219 🛠️ Rename the `redis_connection_url` to `redis_url` in the sample config file
  docs/installation.md
Labels: 🟧 priority: high, 📄 aspect: text, 🛠 goal: fix, 🔢 points: 1

#194 ⚙️ Optimize and make code more idiomatic (part - I)
  Cargo.lock
  Cargo.toml
  src/bin/websurfx.rs
  src/cache/cacher.rs
  src/cache/error.rs
  src/cache/mod.rs
  src/config/parser.rs
  src/config/parser_models.rs
  src/handler/paths.rs
  src/lib.rs
  src/results/aggregator.rs
  src/results/user_agent.rs
  src/server/routes.rs
Labels: 🟧 priority: high, 💻 aspect: code, ✨ goal: improvement, 🔢 points: 5

#195 ⚙️ Optimize and make code more idiomatic (part - II)
  .gitignore
  Cargo.lock
  Cargo.toml
  src/engines/duckduckgo.rs
  src/engines/engine_models.rs
  src/engines/searx.rs
  src/results/aggregation_models.rs
  src/results/aggregator.rs
  src/server/routes.rs
Labels: 🟧 priority: high, 💻 aspect: code, ✨ goal: improvement, 🔢 points: 5

#192 ⚙️ Optimize and make code more idiomatic (part - III)
  Cargo.lock
  Cargo.toml
  src/bin/websurfx.rs
  src/cache/cacher.rs
  src/lib.rs
  src/server/routes.rs
Labels: 🟧 priority: high, 💻 aspect: code, ✨ goal: improvement, 🔢 points: 5

#222 🛠️ Point to the correct installation and testing section
  README.md
Labels: 🟧 priority: high, 📄 aspect: text, 🛠 goal: fix, 🔢 points: 1

#202 ✨ `Safe search` levels and `filter lists` for the app
  Cargo.lock
  Cargo.toml
  public/images/barricade.png
  public/images/filter.png
  public/static/themes/simple.css
  public/templates/search.html
  src/config/parser.rs
  src/engines/duckduckgo.rs
  src/engines/engine_models.rs
  src/engines/searx.rs
  src/results/aggregation_models.rs
  src/results/aggregator.rs
  src/server/routes.rs
  websurfx/config.lua
Labels: 🟧 priority: high, 💻 aspect: code, ⭐ goal: addition, 🕹 aspect: interface, 🔢 points: 5

#204 ✨ Configurable rate limiting middleware for the app
  Cargo.lock
  Cargo.toml
  src/config/parser.rs
  src/config/parser_models.rs
  src/lib.rs
  websurfx/config.lua
Labels: 💻 aspect: code, 🟥 priority: critical, ⭐ goal: addition, 🛠 goal: fix, 🔢 points: 3

#206 ⚙️ Change document style with `linter` warnings
  Cargo.lock
  Cargo.toml
  src/cache/cacher.rs
  src/cache/error.rs
  src/cache/mod.rs
  src/config/mod.rs
  src/config/parser.rs
  src/config/parser_models.rs
  src/engines/duckduckgo.rs
  src/engines/engine_models.rs
  src/engines/mod.rs
  src/engines/searx.rs
  src/handler/mod.rs
  src/handler/paths.rs
  src/lib.rs
  src/results/aggregation_models.rs
  src/results/mod.rs
  src/results/user_agent.rs
  src/server/mod.rs
  src/server/routes.rs
Labels: 🟧 priority: high, 💻 aspect: code, ✨ goal: improvement, 🔢 points: 3

#208 ⚙️ Improve the project structure for better maintainability of code
  Cargo.lock
  Cargo.toml
  src/config/mod.rs
  src/config/parser.rs
  src/engines/duckduckgo.rs
  src/engines/mod.rs
  src/engines/searx.rs
  src/lib.rs
  src/models/aggregation_models.rs
  src/models/engine_models.rs
  src/models/mod.rs
  src/models/parser_models.rs
  src/models/server_models.rs
  src/results/aggregator.rs
  src/results/mod.rs
  src/server/mod.rs
  src/server/router.rs
  src/server/routes/mod.rs
  src/server/routes/search.rs
Labels: 💻 aspect: code, 🟨 priority: medium, ✨ goal: improvement, 🔢 points: 5

#226 🛠️ `Luajit` installation step for the `Gitpod` setup
  .gitpod.Dockerfile
  Cargo.lock
  Cargo.toml
Labels: 🟥 priority: critical, 🤖 aspect: dx, 🛠 goal: fix, 🔢 points: 2

#230 🛠️ Docs link by pointing it to the correct location
  README.md
Labels: 📄 aspect: text, 🟥 priority: critical, 🛠 goal: fix, 🔢 points: 1

#238 🛠️ Steps to add two files in the Docker image
  Dockerfile
Labels: 💻 aspect: code, 🟥 priority: critical, 🛠 goal: fix, 🔢 points: 1

#234 🔧 Move from `issue templates` to `issue forms`
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/engine-request.md
  .github/ISSUE_TEMPLATE/engine.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/other.yml
  Cargo.lock
  Cargo.toml
Labels: 🟧 priority: high, 🤖 aspect: dx, ✨ goal: improvement, 🔢 points: 5

#235 🤖 GitHub action to automate the task of labeling pull requests
  .github/labeler.yml
  .github/workflows/pr_labeler.yml
  Cargo.lock
  Cargo.toml
Labels: 🟧 priority: high, ⭐ goal: addition, 🤖 aspect: dx, 🔢 points: 5

#237 🤖 GitHub action to automate the process of triaging issues
  .github/label-actions.yml
  .github/workflows/issue-lock-unlock.yml
  Cargo.lock
  Cargo.toml
Labels: 🟧 priority: high, 💻 aspect: code, ⭐ goal: addition, 🤖 aspect: dx, 🔢 points: 5

#240 📝 Credits for the stargazers with `roaster` widget
  Cargo.lock
  Cargo.toml
  README.md
Labels: 🟧 priority: high, 📄 aspect: text, ⭐ goal: addition, 🔢 points: 1

#223 ✨ An in-memory cache for the search engine.
  Cargo.lock
  Cargo.toml
  src/bin/websurfx.rs
  src/cache/cacher.rs
  src/cache/error.rs
  src/cache/mod.rs
  src/cache/redis_cacher.rs
  src/config/parser.rs
  src/lib.rs
  src/models/aggregation_models.rs
  src/server/routes/search.rs
  tests/index.rs
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, 🔢 points: 5

#247 🛠️ Make `style` checking and `testing` GitHub action work on conditional compiling app
  .github/workflows/rust_format.yml
Labels: 💻 aspect: code, 🟥 priority: critical, 🤖 aspect: dx, 🛠 goal: fix, 🔢 points: 1

#245 🛠️ Proper working implementation for the `hybrid` caching feature
  Cargo.lock
  Cargo.toml
  src/cache/cacher.rs
  src/cache/error.rs
  src/cache/redis_cacher.rs
  src/config/parser.rs
  src/models/server_models.rs
  src/server/routes/search.rs
  tests/index.rs
Labels: 🟧 priority: high, 💻 aspect: code, 🛠 goal: fix, 🔢 points: 5

#248 🛠️ Use the correct command to run the app in `GitPod`
  .gitpod.yml
  Cargo.lock
  Cargo.toml
Labels: 💻 aspect: code, 🟥 priority: critical, 🛠 goal: fix, 🔢 points: 1

#253 📝 Community driven `Websurfx` instances page
  Cargo.lock
  Cargo.toml
  docs/README.md
  docs/instances.md
Labels: 🟧 priority: high, 📄 aspect: text, 💻 aspect: code, ⭐ goal: addition, 🔢 points: 5

#254 📝 Awesome self-hosted shields badge
  Cargo.lock
  Cargo.toml
  README.md
Labels: 📄 aspect: text, 💻 aspect: code, ⭐ goal: addition, 🟩 priority: low, 🔢 points: 1

#259 📝 A link to the(#251) user showcase
  README.md
Labels: 🟧 priority: high, 📄 aspect: text, 💻 aspect: code, ⭐ goal: addition, 🔢 points: 1

#258 ✨ `Safe Search` setting for the website UI
  Cargo.lock
  Cargo.toml
  public/static/cookies.js
  public/static/index.js
  public/static/pagination.js
  public/static/search_area_options.js
  public/static/settings.js
  public/static/themes/simple.css
  public/templates/engines_tab.html
  public/templates/general_tab.html
  public/templates/search.html
  public/templates/search_bar.html
  public/templates/user_interface_tab.html
  src/models/aggregation_models.rs
  src/models/server_models.rs
  src/server/routes/search.rs
Labels: 🟧 priority: high, 💻 aspect: code, ⭐ goal: addition, ✨ goal: improvement, 🕹 aspect: interface, 🔢 points: 5

#260 ✨ Inform user with appropriate error message when none of the engines are selected
  Cargo.lock
  Cargo.toml
  public/images/no_selection.png
  public/static/themes/simple.css
  public/templates/search.html
  src/models/aggregation_models.rs
  src/server/routes/search.rs
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, ✨ goal: improvement, 🕹 aspect: interface, 🔢 points: 5

#262 📝 A link to the `Websurfx` instances documentation page
  Cargo.lock
  Cargo.toml
  README.md
Labels: 🟧 priority: high, 📄 aspect: text, 💻 aspect: code, ⭐ goal: addition, 🔢 points: 1

#267 📝 An instances section pointing to the instances documentation page
  README.md
Labels: 📄 aspect: text

#268 📝 Changed the location to match the emoticon
  docs/instances.md
Labels: 📄 aspect: text

#270 📝 Organize the links in the table of contents
  Cargo.lock
  Cargo.toml
  README.md
Labels: 🟧 priority: high, 📄 aspect: text, 💻 aspect: code, 🛠 goal: fix, 🔢 points: 1

#272 📝 Revise the `docs` to remain in sync with the current changes
  Cargo.lock
  Cargo.toml
  docs/README.md
  docs/building.md
  docs/configuration.md
  docs/installation.md
  docs/theming.md
Labels: 🟧 priority: high, 📄 aspect: text, 💻 aspect: code, ⭐ goal: addition, ✨ goal: improvement, 🔢 points: 5

#276 ✨ Initial NixOS support via `flake.nix`
  .gitignore
  Cargo.toml
  docs/installation.md
  flake.lock
  flake.nix
Labels: 🟧 priority: high, 📄 aspect: text, 💻 aspect: code, ⭐ goal: addition, ✨ goal: improvement, 🔢 points: 5

#279 🔧 Volumes for docker deployment to make editing config files easier
  Dockerfile
  docker-compose.yml
Labels: 💻 aspect: code, 🟨 priority: medium, ✨ goal: improvement, 🔢 points: 1
