Repository neon-mmd/websurfx, pull requests merged in 2023-11, with the labels that each got.

#368 📝 More typo correction and Grammatical correction in the documentation page
  docs/configuration.md
Labels: 📄 aspect: text, 🟨 priority: medium, ✨ goal: improvement, 🛠 goal: fix, 🔢 points: 1

#376 🩹 Improve `Stylelint` checks in the pre-commit hook
  .stylelintrc.json
  Cargo.lock
  Cargo.toml
Labels: 🟧 priority: high, 💻 aspect: code, 🤖 aspect: dx, ✨ goal: improvement, 🛠 goal: fix, 🔢 points: 3

#381 ⚡️ Reduce the time it takes to `build/compile` the app
  Cargo.lock
  Cargo.toml
  src/results/aggregator.rs
Labels: 💻 aspect: code, 🟨 priority: medium, ✨ goal: improvement, 🔢 points: 5

#379 📝 Additional commands required for the setup of the local development environment
  Cargo.lock
  Cargo.toml
  docs/developing.md
Labels: 🟧 priority: high, 📄 aspect: text, 💻 aspect: code, ✨ goal: improvement, 🛠 goal: fix, 🔢 points: 1

#383 ♻️ Rewrite the search engine frontend with `maud` html framework
  Cargo.lock
  Cargo.toml
  public/templates/404.html
  public/templates/about.html
  public/templates/bar.html
  public/templates/cookies_tab.html
  public/templates/engines_tab.html
  public/templates/footer.html
  public/templates/general_tab.html
  public/templates/header.html
  public/templates/index.html
  public/templates/navbar.html
  public/templates/search.html
  public/templates/search_bar.html
  public/templates/settings.html
  public/templates/user_interface_tab.html
  src/config/parser.rs
  src/lib.rs
  src/models/aggregation_models.rs
  src/models/parser_models.rs
  src/results/aggregator.rs
  src/server/router.rs
  src/server/routes/search.rs
  src/templates/mod.rs
  src/templates/partials/bar.rs
  src/templates/partials/footer.rs
  src/templates/partials/header.rs
  src/templates/partials/mod.rs
  src/templates/partials/navbar.rs
  src/templates/partials/search_bar.rs
  src/templates/partials/settings_tabs/cookies.rs
  src/templates/partials/settings_tabs/engines.rs
  src/templates/partials/settings_tabs/general.rs
  src/templates/partials/settings_tabs/mod.rs
  src/templates/partials/settings_tabs/user_interface.rs
  src/templates/views/about.rs
  src/templates/views/index.rs
  src/templates/views/mod.rs
  src/templates/views/not_found.rs
  src/templates/views/search.rs
  src/templates/views/settings.rs
  tests/index.rs
Labels: 💻 aspect: code, 🟨 priority: medium, 🤖 aspect: dx, ✨ goal: improvement, 🕹 aspect: interface, 🔢 points: 5

#388 ⚡️ Optimize the performance of fetching results in the `websurfx` search engine backend
  Cargo.lock
  Cargo.toml
  src/engines/brave.rs
  src/engines/duckduckgo.rs
  src/engines/searx.rs
  src/models/engine_models.rs
  src/results/aggregator.rs
Labels: 💻 aspect: code, 🟨 priority: medium, ✨ goal: improvement, 🔢 points: 5

#386 🔒️ More secure hashing algorithm like `BLAKE3` instead of `md5` hashing algorithm
  Cargo.lock
  Cargo.toml
  src/cache/redis_cacher.rs
Labels: 💻 aspect: code, 🟥 priority: critical, ✨ goal: improvement, 🔢 points: 1

#389 🎨 Code style changes for the style files
  Cargo.lock
  Cargo.toml
  public/static/colorschemes/catppuccin-mocha.css
  public/static/colorschemes/dark-chocolate.css
  public/static/colorschemes/dracula.css
  public/static/colorschemes/gruvbox-dark.css
  public/static/colorschemes/monokai.css
  public/static/themes/simple.css
Labels: 🟧 priority: high, 💻 aspect: code, ✨ goal: improvement, 🔢 points: 3

#391 👷 Automate the new docker image release process
  .github/workflows/docker.yml
  Cargo.lock
  Cargo.toml
Labels: 🟧 priority: high, 💻 aspect: code, ⭐ goal: addition, 🤖 aspect: dx, 🔢 points: 5

#396 :recycle: Clean some code, fix bug
  src/config/parser.rs
  src/handler/mod.rs
  src/handler/paths.rs
  src/lib.rs
  src/results/aggregator.rs
  src/server/router.rs
  src/server/routes/search.rs
  src/templates/partials/settings_tabs/user_interface.rs
  src/templates/views/search.rs
Labels: 💻 aspect: code, 🟨 priority: medium, 🤖 aspect: dx, ✨ goal: improvement, 🔢 points: 3

#397 ⚡️lazyload search result text with css content-visibility
  public/static/themes/simple.css
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, ✨ goal: improvement, 🔢 points: 1, 🕹 aspect: interface

#399 :recycle: Refactor cache system
  Cargo.lock
  Cargo.toml
  src/bin/websurfx.rs
  src/cache/cacher.rs
  src/cache/redis_cacher.rs
  src/lib.rs
  src/server/routes/search.rs
  tests/index.rs
Labels: 🟧 priority: high, 💻 aspect: code, 🤖 aspect: dx, 🛠 goal: fix, 🔢 points: 5

#401 📝 More `Websurfx` Instances with the `edge/rolling` version
  Cargo.lock
  Cargo.toml
  docs/instances.md
Labels: 📄 aspect: text, 💻 aspect: code, ⭐ goal: addition, 🟩 priority: low, 🔢 points: 1

#403 ✨ Config option to customize the cache invalidation/expiry time
  src/cache/cacher.rs
  src/cache/redis_cacher.rs
  src/config/parser.rs
  websurfx/config.lua
Labels: 💻 aspect: code, ⭐ goal: addition, 🔢 points: 3, 🟩 priority: low
