Repository neon-mmd/websurfx, pull requests merged in 2023-10, with the labels that each got.

#284 📝 Revise the `docs` to remain in sync with the current changes
  Cargo.lock
  Cargo.toml
  docs/README.md
  docs/building.md
  docs/features.md
  docs/installation.md
Labels: 🟧 priority: high, 📄 aspect: text, 💻 aspect: code, ⭐ goal: addition, ✨ goal: improvement, 🔢 points: 5

#285 📝 Replace the `warning` with an appropriate `note`
  Cargo.lock
  Cargo.toml
  README.md
Labels: 🟧 priority: high, 📄 aspect: text, 💻 aspect: code, ✨ goal: improvement, 🔢 points: 1

#287 🔧 Provide comments in the two files
  Cargo.lock
  Cargo.toml
  Dockerfile
  docker-compose.yml
Labels: 🟧 priority: high, 💻 aspect: code, ⭐ goal: addition, ✨ goal: improvement, 🔢 points: 1

#290 🤖 Dependabot to auto bump version numbers
  .github/dependabot.yml
  Cargo.lock
  Cargo.toml
Labels: 🟧 priority: high, 💻 aspect: code, ⭐ goal: addition, ✨ goal: improvement, 🔢 points: 3

#298 🤖 Mergify config to automate the handling of pull requests
  .mergify.yml
  Cargo.lock
  Cargo.toml
Labels: 💻 aspect: code, ⭐ goal: addition, 🤖 aspect: dx, ✨ goal: improvement, 🟩 priority: low, 🔢 points: 5

#301 📝 Codefactor code coverage shield badge
  Cargo.lock
  Cargo.toml
  README.md
Labels: 📄 aspect: text, 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, 🔢 points: 1

#304 📝 Three points listed under the `Features` section
  Cargo.lock
  Cargo.toml
  README.md
Labels: 🟧 priority: high, 📄 aspect: text, 💻 aspect: code, ⭐ goal: addition, 🔢 points: 1, hacktoberfest-accepted

#309 🔧 Remove the unused mapped ports for docker deployment
  Cargo.lock
  Cargo.toml
  docker-compose.yml
Labels: 💻 aspect: code, ✨ goal: improvement, 🟩 priority: low, 🔢 points: 1, hacktoberfest-accepted

#273 ⚙️ Rewrite the search result parser code to make the engine code more concise
  src/config/parser.rs
  src/engines/duckduckgo.rs
  src/engines/mod.rs
  src/engines/search_result_parser.rs
  src/engines/searx.rs
  src/models/aggregation_models.rs
  src/models/engine_models.rs
  src/server/routes/search.rs
Labels: 💻 aspect: code, 🟨 priority: medium, ✨ goal: improvement, 🔢 points: 5

#312 📝 Remove the two unnecessary lines from the code snippet
  docs/installation.md
Labels: 🟧 priority: high, 📄 aspect: text, ✨ goal: improvement, 🔢 points: 1

#324 ✨ Build arguments to make writing GitHub action for auto releasing new docker images easier
  Cargo.toml
  Dockerfile
Labels: 💻 aspect: code, 🟨 priority: medium, ✨ goal: improvement, 🔢 points: 5

#329 🔧 Remove the unwanted `once_cell` crate
  Cargo.lock
  Cargo.toml
Labels: 💻 aspect: code, ✨ goal: improvement, 🟩 priority: low, 🔢 points: 1, hacktoberfest-accepted

#331 🔧 Restricts the visibility of the `user-agent` helper module
  src/results/mod.rs
Labels: 🟧 priority: high, 💻 aspect: code, ✨ goal: improvement, 🔢 points: 1, hacktoberfest-accepted

#333 🔧 Remove the unnecessary clone call on user-agent `&str` variable
  src/results/aggregator.rs
Labels: 💻 aspect: code, ✨ goal: improvement, 🟩 priority: low, 🔢 points: 1, hacktoberfest-accepted

#335 ✨ `Brave` for the search engine
  .stylelintrc.json
  src/engines/brave.rs
  src/engines/mod.rs
  src/models/engine_models.rs
  websurfx/config.lua
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, 🤖 aspect: dx, 🔢 points: 5

#336 ✨ Docker compose for development
  dev.Dockerfile
  dev.docker-compose.yml
Labels: 🟧 priority: high, 📄 aspect: text, 💻 aspect: code, ⭐ goal: addition, 🔢 points: 5

#338 🤖 Improve the rules used by the `Mergify` bot.
  .mergify.yml
  Cargo.lock
  Cargo.toml
Labels: 💻 aspect: code, ✨ goal: improvement, 🟩 priority: low, 🔢 points: 1

#341 📝 Revise the `readme` for making general improvements
  Cargo.lock
  Cargo.toml
  README.md
Labels: 📄 aspect: text, ✨ goal: improvement, 🟩 priority: low, 🔢 points: 1

#343 📝 `Developing` Guide page for the `docs`
  Cargo.lock
  Cargo.toml
  docs/README.md
  docs/developing.md
Labels: 🟧 priority: high, 📄 aspect: text, 💻 aspect: code, ⭐ goal: addition, 🔢 points: 5

#345 💄 Make logo image HD with a transparent background
  Cargo.lock
  Cargo.toml
  images/websurfx_logo.png
Labels: 💻 aspect: code, ✨ goal: improvement, 🔢 points: 3, 🟩 priority: low, 🕹 aspect: interface

#348 📝 Warning note in the `Manual Deployment` section of the `installation` docs.
  docs/installation.md
Labels: 📄 aspect: text

#350 📝 Fix typo in the `developing` documentation page
  docs/developing.md
Labels: 🟧 priority: high, 📄 aspect: text, 🤖 aspect: dx, 🛠 goal: fix, 🔢 points: 1, hacktoberfest-accepted

#353 📝 New command with explanation in the `developing` documentation page #351
  docs/developing.md
Labels: 🟧 priority: high, 📄 aspect: text, ⭐ goal: addition, 🔢 points: 1

#355 📝 Typo correction and Grammatical in the `features` and `installation` documentation page
  docs/features.md
  docs/installation.md
Labels: 🟧 priority: high, 📄 aspect: text, 🛠 goal: fix, 🔢 points: 1

#357 📝 Typo correction in the `developing` documentation page
  docs/developing.md
Labels: 📄 aspect: text, 🛠 goal: fix, 🟩 priority: low, 🔢 points: 1, hacktoberfest-accepted

#360 📝 Typo correction and Grammatical correction in the `developing` documentation page
  docs/developing.md
Labels: 📄 aspect: text, ✨ goal: improvement, 🛠 goal: fix, 🔢 points: 2, 🟩 priority: low

#362 📝 Typo correction in the `readme` of the project
  README.md
Labels: 📄 aspect: text

#363 📝 Typo correction in the `contributing` documentation
  CONTRIBUTING.md
Labels: 📄 aspect: text, 🟨 priority: medium, ✨ goal: improvement, 🛠 goal: fix, 🔢 points: 1

#364 ⚡️Custom `build.rs` to minify JS and CSS during the build process
  Cargo.lock
  Cargo.toml
  build.rs
Labels: 💻 aspect: code, 🟨 priority: medium, ✨ goal: improvement, 🕹 aspect: interface, 🔢 points: 5

#366 📝 Typo and Grammatical correction in the documentation page
  Cargo.lock
  Cargo.toml
  docs/introduction.md
Labels: 📄 aspect: text, 💻 aspect: code, 🟨 priority: medium, ✨ goal: improvement, 🔢 points: 1
