Repository neon-mmd/websurfx, pull requests merged in 2023-12, with the labels that each got.

#413 🔥 Unneeded GitHub actions and associated config files
  .cspell.json
  .github/workflows/contributors.yml
  .github/workflows/mega-linter.yml
  .mega-linter.yml
  Cargo.lock
  Cargo.toml
Labels: 💻 aspect: code, 🟨 priority: medium, 🤖 aspect: dx, ✨ goal: improvement, 🔢 points: 1

#418 💄`websurfx` logo redesign for better understandability
  public/images/websurfx_logo.png
  public/images/websurfx_logo.svg
  public/static/themes/simple.css
  src/templates/views/index.rs
Labels: 🟨 priority: medium, ✨ goal: improvement, 🕹 aspect: interface, 🔢 points: 5

#419 ✨ `Startpage` for the search engine
  Cargo.lock
  Cargo.toml
  src/engines/mod.rs
  src/engines/startpage.rs
  src/models/engine_models.rs
  websurfx/config.lua
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, 🔢 points: 3

#422 💄 Spacing between the names of the search engines in the search results
  Cargo.lock
  Cargo.toml
  public/static/themes/simple.css
Labels: 🟧 priority: high, 💻 aspect: code, 🛠 goal: fix, 🔢 points: 1, 🕹 aspect: interface

#423 📝 New `websurfx` logo for the `readme`
  images/websurfx_logo.png
Labels: 📄 aspect: text, 🟨 priority: medium, ✨ goal: improvement, 🔢 points: 5

#429 ✨ `LibreX` for the search engine
  Cargo.lock
  Cargo.toml
  src/engines/librex.rs
  src/engines/mod.rs
  src/models/engine_models.rs
  websurfx/config.lua
Labels: 💻 aspect: code, ⭐ goal: addition, 🔢 points: 3, 🟩 priority: low

#426 💄 Improved visual fidelity for the `simple` theme
  public/images/websurfx_logo.png
  public/images/websurfx_logo.svg
  public/static/colorschemes/catppuccin-mocha.css
  public/static/colorschemes/dark-chocolate.css
  public/static/colorschemes/dracula.css
  public/static/colorschemes/gruvbox-dark.css
  public/static/colorschemes/monokai.css
  public/static/colorschemes/nord.css
  public/static/colorschemes/oceanic-next.css
  public/static/colorschemes/one-dark.css
  public/static/colorschemes/solarized-dark.css
  public/static/colorschemes/solarized-light.css
  public/static/colorschemes/tokyo-night.css
  public/static/colorschemes/tomorrow-night.css
  public/static/themes/simple.css
  src/templates/views/index.rs
Labels: 🟧 priority: high, ✨ goal: improvement, 🕹 aspect: interface, 🔢 points: 5

#435 🚚 Provide a more resilient and reliable `searx` instance
  Cargo.lock
  Cargo.toml
  src/engines/searx.rs
Labels: 💻 aspect: code, 🟨 priority: medium, ✨ goal: improvement, 🔢 points: 1

#436 🛠️ Useless use of `format!` (cargo clippy warning)
  Cargo.lock
  Cargo.toml
  src/engines/startpage.rs
Labels: 💻 aspect: code, 🟨 priority: medium, 🛠 goal: fix, 🔢 points: 1

#437 ✨ Animations/effects support for the search engine
  Cargo.lock
  Cargo.toml
  public/static/animations/simple-frosted-glow.css
  public/static/settings.js
  src/config/parser.rs
  src/models/parser_models.rs
  src/server/router.rs
  src/server/routes/search.rs
  src/templates/partials/header.rs
  src/templates/partials/settings_tabs/user_interface.rs
  src/templates/views/about.rs
  src/templates/views/index.rs
  src/templates/views/not_found.rs
  src/templates/views/search.rs
  src/templates/views/settings.rs
  tests/index.rs
  websurfx/config.lua
Labels: 💻 aspect: code, ⭐ goal: addition, 🤖 aspect: dx, 🟩 priority: low, 🕹 aspect: interface, 🔢 points: 5

#438 👽️ `Duckduckgo` engine code according to the new `html` changes
  Cargo.lock
  Cargo.toml
  src/engines/duckduckgo.rs
Labels: 🟧 priority: high, 💻 aspect: code, 🛠 goal: fix, 🔢 points: 1

#441 📝 New preview/demo images of the search engine on the `readme`
  Cargo.lock
  Cargo.toml
  images/404_error_page.png
  images/main_page.png
  images/search_page.png
Labels: 📄 aspect: text, 🟨 priority: medium, ✨ goal: improvement, 🔢 points: 1

#445 💄 Different text color for the visited search results title links in the search page
  public/static/themes/simple.css
Labels: 🟧 priority: high, 💻 aspect: code, 🛠 goal: fix, 🔢 points: 1, 🕹 aspect: interface

#451 🐛 Openssl runtime dependencies for `nix flake`
  flake.nix
Labels: 💻 aspect: code, 🟨 priority: medium, 🛠 goal: fix, 🔢 points: 5

#452 :technologist: Cargo-watch installation via nix dev shell
  flake.nix
Labels: 🟧 priority: high, 🤖 aspect: dx, ✨ goal: improvement, 🔢 points: 1

#454 :memo: Developer environment setup on NixOS
  docs/developing.md
  flake.nix
Labels: 🟧 priority: high, 📄 aspect: text, ✨ goal: improvement, 🛠 goal: fix, 🔢 points: 3

#455 📝 Revise the `docs` to remain in sync with the current changes
  Cargo.lock
  Cargo.toml
  docs/configuration.md
  docs/developing.md
  docs/installation.md
  docs/theming.md
Labels: 🟧 priority: high, 📄 aspect: text, ⭐ goal: addition, ✨ goal: improvement, 🔢 points: 5

#457 🐛 Explicit Content-Type header for HTTP response
  src/server/router.rs
Labels: 🟧 priority: high, 💻 aspect: code, 🔢 points: 3, 🕹 aspect: interface

#458 🐛 Explicit Content-Type header for the search page response
  src/server/routes/search.rs
Labels: 💻 aspect: code, 🟥 priority: critical, 🛠 goal: fix, 🔢 points: 1

#464 ✨ `Mojeek` for the search engine
  flake.nix
  src/engines/mod.rs
  src/engines/mojeek.rs
  src/models/engine_models.rs
  websurfx/config.lua
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, 🔢 points: 5

#467 :recycle: Start tracking page numbers from 0 instead of 1 in the backend
  src/server/routes/search.rs
Labels: 🟨 priority: medium, ✨ goal: improvement, 🔢 points: 3

#462 :children_crossing: Display the user provided settings from the config or the UI in the settings page
  Cargo.lock
  Cargo.toml
  public/static/cookies.js
  public/static/themes/simple.css
  src/server/router.rs
  src/templates/partials/settings_tabs/engines.rs
  src/templates/partials/settings_tabs/general.rs
  src/templates/partials/settings_tabs/user_interface.rs
  src/templates/views/settings.rs
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, ✨ goal: improvement, 🕹 aspect: interface, 🔢 points: 5

#469 🚑️ Pagination code for the upstream search engines
  Cargo.lock
  Cargo.toml
  src/engines/duckduckgo.rs
  src/engines/librex.rs
  src/engines/searx.rs
  src/engines/startpage.rs
Labels: 💻 aspect: code, 🟥 priority: critical, 🛠 goal: fix, 🔢 points: 3

#472 :zap: Compression for the page responses of the search engine
  Cargo.toml
  src/lib.rs
Labels: 💻 aspect: code, 🟨 priority: medium, ✨ goal: improvement, 🔢 points: 1, 🕹 aspect: interface

#474 ♻️ Standardize the content-type header by using an enum value over typing it manually
  src/server/router.rs
  src/server/routes/search.rs
Labels: 💻 aspect: code, ✨ goal: improvement, 🟩 priority: low, 🔢 points: 1
