Repository neon-mmd/websurfx, pull requests merged in 2023-05, with the labels that each got.

#2 add previous and next button to navigate to different pages
  public/static/pagination.js
  public/static/themes/simple.css
  public/templates/search.html
Labels: enhancement

#10 Improve readme to look cleaner and more attractive
  CONTRIBUTING.md
  CONTRIBUTING.org
  README.md
  README.org
  goals.org
  images/intro.png
Labels: documentation

#28 Added an About page.
  public/static/themes/simple.css
  public/templates/about.html
Labels: 💻 aspect: code, 💬 talk: discussion, ⭐ goal: addition

#30 ci: remove releases automation github action
  .github/workflows/releases.yml
Labels: 💬 talk: discussion, 🤖 aspect: dx

#31 Fix page_url assignment in search route
  src/server/routes.rs
Labels: 💻 aspect: code

#33 Gitpod cloud development shield/badge for the Readme
  README.md
Labels: 📄 aspect: text, ⭐ goal: addition

#39 Put a logo
  README.md
  images/websurfx_logo.png
Labels: 📄 aspect: text

#42 Fix slow speed of user agent generation
  Cargo.lock
  Cargo.toml
  src/search_results_handler/user_agent.rs
Labels: 💻 aspect: code, 🛠 goal: fix

#50 add format and clippy checks to the CI jobs
  .github/workflows/rust_format.yml
  src/cache/mod.rs
  src/search_results_handler/aggregation_models.rs
  src/server/routes.rs
Labels: 🛠 goal: fix

#52 Ability to put config file on different paths
  Cargo.lock
  Cargo.toml
  src/config_parser/parser.rs
Labels: 💻 aspect: code, ⭐ goal: addition

#55 Ability to have themes on different paths
  Cargo.lock
  Cargo.toml
  src/handler/mod.rs
  src/handler/public_path_handler.rs
  src/lib.rs
  src/server/routes.rs
Labels: 💻 aspect: code, ⭐ goal: addition

#58 Solves #56 Updated the Why Websurf section under FAQ section
  README.md
Labels: 📄 aspect: text

#60 fix issue: #56 removed the meta seach engine link
  README.md
Labels: 📄 aspect: text

#66 Reorder config file options and make headings stand out
  websurfx/config.lua
Labels: 💻 aspect: code

#63 Revise and improve the documentation
  docs/configuration.md
  docs/faq.md
  docs/installation.md
  docs/introduction.md
  docs/theming.md
Labels: 📄 aspect: text

#64 Revise and improve the Readme
  README.md
  images/main_page.png
Labels: 📄 aspect: text

#70 Provide an option to enable or disable logs
  src/bin/websurfx.rs
  src/config_parser/parser.rs
  websurfx/config.lua
Labels: 💻 aspect: code, ⭐ goal: addition

#74 Update the docs for new logging option and bump the version
  Cargo.lock
  Cargo.toml
  docs/configuration.md
  docs/installation.md
Labels: 📄 aspect: text

#80 Provide a debug option in the config
  Cargo.lock
  Cargo.toml
  src/bin/websurfx.rs
  src/config_parser/parser.rs
  src/search_results_handler/aggregator.rs
  src/server/routes.rs
  websurfx/config.lua
Labels: 💻 aspect: code, ⭐ goal: addition

#86 Revise the docs to explain the new debug option
  docs/configuration.md
  docs/installation.md
Labels: 📄 aspect: text

#84 Provide appropriate permissions for contributors' list generation ci
  .github/workflows/contributors.yml
Labels: 🤖 aspect: dx, 🛠 goal: fix

#87 Provide three new famous colorshemes
  public/static/colorschemes/dark-chocolate.css
  public/static/colorschemes/one-dark.css
  public/static/colorschemes/tokyo-night.css
Labels: 💻 aspect: code, ⭐ goal: addition
