Repository neon-mmd/websurfx, pull requests merged in 2023-07, with the labels that each got.

#128 Make Gitpod work by fixing the config file
  .gitpod.yml
  Cargo.lock
  Cargo.toml
Labels: 🟧 priority: high, 💻 aspect: code, 🛠 goal: fix, 🔢 points: 1

#121 updated-search.html
  public/templates/search.html
Labels: 🟧 priority: high, 💻 aspect: code, 🛠 goal: fix, 🔢 points: 3

#133 Renaming and Refactoring
  src/bin/websurfx.rs
  src/cache/cacher.rs
  src/config/mod.rs
  src/config/parser.rs
  src/config/parser_models.rs
  src/engines/duckduckgo.rs
  src/engines/searx.rs
  src/handler/mod.rs
  src/handler/public_paths.rs
  src/lib.rs
  src/results/aggregation_models.rs
  src/results/aggregator.rs
  src/results/mod.rs
  src/results/user_agent.rs
  src/server/routes.rs
  tests/index.rs
  websurfx/config.lua
Labels: 💻 aspect: code, 🟨 priority: medium, 🤖 aspect: dx, ✨ goal: improvement

#132 Improve the Gitpod setup
  .gitpod.yml
Labels: 🟧 priority: high, 💻 aspect: code, 🤖 aspect: dx, 🛠 goal: fix

#136 Rename getter functions to follow Rust naming convention
  src/cache/cacher.rs
  src/config/parser.rs
  src/handler/public_paths.rs
  src/lib.rs
  src/server/routes.rs
Labels: 💻 aspect: code, 🛠 goal: fix, 🔢 points: 2, 🟩 priority: low

#111 Configure MegaLinter for automated code linting
  .cspell.json
  .github/workflows/mega-linter.yml
  .gitignore
  .mega-linter.yml
  Cargo.lock
  Cargo.toml
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, 🤖 aspect: dx

#141 add dashes to YAML files
  .github/workflows/contributors.yml
  .github/workflows/hello.yml
  .github/workflows/labels.yml
  .github/workflows/rust.yml
  .github/workflows/rust_format.yml
  .github/workflows/stale.yml
  .mega-linter.yml
  docker-compose.yml
Labels: 💻 aspect: code, ⭐ goal: addition, 🟩 priority: low, 🔢 points: 1

#142 Update the colorschemes in `public/static/colorschemes`
  public/static/colorschemes/gruvbox-dark.css
  public/static/colorschemes/monokai.css
  public/static/colorschemes/nord.css
  public/static/colorschemes/oceanic-next.css
  public/static/colorschemes/solarized-dark.css
  public/static/colorschemes/solarized-light.css
  public/static/colorschemes/tomorrow-night.css
Labels: 💻 aspect: code, 🟨 priority: medium, ✨ goal: improvement, 🛠 goal: fix, 🔢 points: 3, 🕹 aspect: interface

#139 Enhance JS Code Documentation with Comprehensive Comments and Docstrings
  Cargo.lock
  Cargo.toml
  public/static/cookies.js
  public/static/pagination.js
  public/static/settings.js
Labels: 💻 aspect: code, ✨ goal: improvement, 🔢 points: 2, 🟩 priority: low

#144 Patch and improve the `Docker` deployment process
  Cargo.lock
  Cargo.toml
  Dockerfile
Labels: 🟧 priority: high, 💻 aspect: code, ✨ goal: improvement, 🛠 goal: fix, 🔢 points: 1

#146 ✨ Provide a way to allow users to select different engines
  Cargo.lock
  Cargo.toml
  src/config/parser.rs
  src/engines/duckduckgo.rs
  src/engines/engine_models.rs
  src/engines/searx.rs
  src/results/aggregation_models.rs
  src/results/aggregator.rs
  src/server/routes.rs
  websurfx/config.lua
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, ✨ goal: improvement, 🔢 points: 5

#151 📜 Revise the `docs` to remain in sync with the current changes
  Cargo.lock
  Cargo.toml
  docs/configuration.md
  docs/installation.md
  docs/theming.md
Labels: 🟧 priority: high, 📄 aspect: text, ⭐ goal: addition, ✨ goal: improvement, 🔢 points: 5

#157 Colorschemes updated in config.lua
  websurfx/config.lua
Labels: 🟧 priority: high, 💻 aspect: code, ⭐ goal: addition, ✨ goal: improvement, 🔢 points: 1

#159 ✨ Config option to control the time for server request timeout
  Cargo.lock
  Cargo.toml
  src/config/parser.rs
  src/engines/duckduckgo.rs
  src/engines/engine_models.rs
  src/engines/searx.rs
  src/results/aggregator.rs
  src/server/routes.rs
  websurfx/config.lua
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, ✨ goal: improvement, 🔢 points: 5

#162 📜 Revise the `docs` to remain in sync with the current changes
  Cargo.lock
  Cargo.toml
  docs/configuration.md
  docs/installation.md
Labels: 🟧 priority: high, 📄 aspect: text, ⭐ goal: addition, 🔢 points: 3

#165 🛠️ Handle page value returned from search query parameter
  Cargo.lock
  Cargo.toml
  src/engines/duckduckgo.rs
  src/engines/searx.rs
Labels: 💻 aspect: code, 🛠 goal: fix, 🔢 points: 3, 🟩 priority: low
