Repository neon-mmd/websurfx, pull requests merged in 2024-02, with the labels that each got.

#506 :bug: Auto release `github` action failure due to missing permissions
  .github/workflows/release.yml
Labels: 🟧 priority: high, 💻 aspect: code, 🤖 aspect: dx, 🛠 goal: fix, 🔢 points: 5

#495 📝 More Websurfx Instances with the rolling version
  Cargo.lock
  Cargo.toml
  docs/instances.md
Labels: 📄 aspect: text, ⭐ goal: addition, 🟩 priority: low, 🔢 points: 1

#529 :sparkles: Config option to configure the https adaptive window size for requests
  src/config/parser.rs
  src/results/aggregator.rs
  src/server/routes/search.rs
  websurfx/config.lua
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, ✨ goal: improvement, 🔢 points: 3
