Repository neon-mmd/websurfx, pull requests merged in 2024-09, with the labels that each got.

#567 ✨ Initial support for low powered devices with other architectures
  Cargo.lock
  Cargo.toml
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, 🔢 points: 5

#602 :bug: Provide the latest nix flake lock
  flake.lock
  flake.nix
Labels: 🟧 priority: high, 💻 aspect: code, 🛠 goal: fix, 🔢 points: 3

#604 :zap: Several optimizations to improve search engine performance
  Cargo.lock
  Cargo.toml
  src/cache/cacher.rs
  src/cache/redis_cacher.rs
  src/models/aggregation_models.rs
  src/models/server_models.rs
  src/results/aggregator.rs
  src/server/routes/search.rs
Labels: 💻 aspect: code, 🟨 priority: medium, ✨ goal: improvement, 🔢 points: 5

#552 ✨ Config option to configure the number of connections to have in the `reqwest` pool
  src/cache/cacher.rs
  src/config/parser.rs
  src/models/aggregation_models.rs
  src/models/parser_models.rs
  src/results/aggregator.rs
  src/server/routes/search.rs
  src/templates/partials/search_bar.rs
  src/templates/partials/settings_tabs/engines.rs
  src/templates/partials/settings_tabs/user_interface.rs
  websurfx/config.lua
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, ✨ goal: improvement, 🔢 points: 3
