Repository neon-mmd/websurfx, pull requests merged in 2024-05, with the labels that each got.

#565 🩹 Temporary fix for minifying `js` files during build
  Cargo.lock
  Cargo.toml
Labels: 💻 aspect: code, 🟨 priority: medium, 🛠 goal: fix, 🔢 points: 1

#568 ✨ Config option to keep the `websurfx` server connection alive for a certain period for subsequent requests
  src/config/parser.rs
  src/lib.rs
  src/results/aggregator.rs
  websurfx/config.lua
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, 🔢 points: 1

#570 📝 List three new features provided by the search engine
  README.md
Labels: 📄 aspect: text, 🟨 priority: medium, ⭐ goal: addition, 🔢 points: 1
