Repository neon-mmd/websurfx, pull requests merged in 2024-12, with the labels that each got.

#620 ✨ Config option to use operating system certificates alongside `rustls` certificates
  src/config/parser.rs
  src/results/aggregator.rs
  websurfx/config.lua
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, 🔢 points: 1

#640 👽️ `Mojeek` parser update due to upstream breaking `api` changes
  src/engines/mojeek.rs
Labels: 💻 aspect: code, 🛠 goal: fix

#633 ✨ Provide `wikipedia` as a search engine option
  src/engines/bing.rs
  src/engines/common.rs
  src/engines/mod.rs
  src/engines/mojeek.rs
  src/engines/wikipedia.rs
  src/models/engine_models.rs
  websurfx/config.lua
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, 🔢 points: 3
