Repository neon-mmd/websurfx, pull requests merged in 2024-01, with the labels that each got.

#473 ✨ `Bing` for the search engine
  src/engines/bing.rs
  src/engines/mod.rs
  src/models/engine_models.rs
  websurfx/config.lua
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, 🔢 points: 5

#483 💄 Replace the search button with a magnifying glass
  public/images/magnifying_glass.svg
  public/static/themes/simple.css
  src/templates/partials/bar.rs
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, ✨ goal: improvement, 🔢 points: 3, 🕹 aspect: interface

#443 ✨ Compression and encryption for the cached search results
  Cargo.lock
  Cargo.toml
  src/bin/websurfx.rs
  src/cache/cacher.rs
  src/cache/encryption.rs
  src/cache/error.rs
  src/cache/mod.rs
  src/cache/redis_cacher.rs
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, 🔢 points: 5

#470 :bug: Different cache keys when different search engines are selected
  src/models/server_models.rs
  src/server/routes/search.rs
Labels: 🟧 priority: high, 💻 aspect: code, 🛠 goal: fix, 🔢 points: 5

#488 :memo: Note highlights in the `readme` file
  README.md
Labels: 📄 aspect: text, 🟨 priority: medium, 🛠 goal: fix, 🔢 points: 1

#491 👷 Clippy/Format checking/linting GitHub action to analyze code for all the features
  .github/workflows/rust_format.yml
  Cargo.lock
  Cargo.toml
Labels: 🟧 priority: high, 💻 aspect: code, ✨ goal: improvement, 🔢 points: 1

#492 ⚡️ Improve page load by optimizing the caching code
  Cargo.lock
  Cargo.toml
  src/cache/cacher.rs
  src/cache/redis_cacher.rs
  src/server/routes/search.rs
Labels: 💻 aspect: code, 🟨 priority: medium, ✨ goal: improvement, 🔢 points: 5

#496 📝 `Stargazers` roaster link in the `readme`
  README.md
Labels: 📄 aspect: text, 🟨 priority: medium, 🛠 goal: fix, 🔢 points: 1

#501 🐛 Undeclared `mini-mocha` crate error when building the app with features other than `memory-cache`
  src/cache/cacher.rs
Labels: 🟧 priority: high, 💻 aspect: code, 🛠 goal: fix, 🔢 points: 1

#502 🐛 `parsed_cet` not found in scope error when building the app with the `no-cache` feature
  src/config/parser.rs
Labels: 🟧 priority: high, 💻 aspect: code, 🛠 goal: fix, 🔢 points: 1

#503 📝 Maintained badge/shield status in the `readme` from `stale` to `yes/maintained`
  README.md
Labels: 📄 aspect: text, 💻 aspect: code, 🟨 priority: medium, ✨ goal: improvement, 🔢 points: 1

#504 :recycle: Support JSON response from upstream search engine
  src/models/engine_models.rs
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, 🔢 points: 1

#499 👷 GitHub action to automate release based on semantic versioning
  .github/workflows/release.yml
Labels: 🟧 priority: high, 💻 aspect: code, ⭐ goal: addition, 🤖 aspect: dx, 🔢 points: 5
