Repository neon-mmd/websurfx, pull requests merged in 2024-10, with the labels that each got.

#573 ✨ Option to use a proxy for outgoing `upstream search engine` requests
  Cargo.toml
  src/config/parser.rs
  src/results/aggregator.rs
  websurfx/config.lua
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, 🔢 points: 5

#616 :recycle: replace deprecated `per_second` with `seconds_per_request` function
  src/lib.rs
Labels: 💻 aspect: code, ✨ goal: improvement, 🟩 priority: low, 🔢 points: 1

#617 :bug: Resolve random delay condition during search for `individual/non-production` self-hosted server
  src/server/routes/search.rs
Labels: 🟧 priority: high, 💻 aspect: code, 🛠 goal: fix, 🔢 points: 1

#608 :sparkles: Clear button for the search bar
  Cargo.lock
  Cargo.toml
  public/images/close.svg
  public/static/index.js
  public/static/themes/simple.css
  src/templates/partials/bar.rs
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, 🔢 points: 3, 🕹 aspect: interface
