Repository neon-mmd/websurfx, pull requests merged in 2024-03, with the labels that each got.

#530 💄 Modernize the appearance of about page and make it responsive.
  public/static/themes/simple.css
  src/templates/views/about.rs
Labels: 🟧 priority: high, 💻 aspect: code, ✨ goal: improvement, 🕹 aspect: interface, 🔢 points: 5

#540 :zap: Several optimizations for improving the performance of the engine
  Cargo.lock
  Cargo.toml
  src/bin/websurfx.rs
  src/cache/cacher.rs
  src/cache/redis_cacher.rs
  src/config/parser.rs
  src/engines/bing.rs
  src/engines/brave.rs
  src/engines/duckduckgo.rs
  src/engines/librex.rs
  src/engines/mojeek.rs
  src/engines/search_result_parser.rs
  src/engines/searx.rs
  src/engines/startpage.rs
  src/lib.rs
  src/models/aggregation_models.rs
  src/models/engine_models.rs
  src/models/parser_models.rs
  src/results/aggregator.rs
  src/server/router.rs
  src/server/routes/search.rs
  src/templates/partials/settings_tabs/engines.rs
  src/templates/partials/settings_tabs/user_interface.rs
  src/templates/views/search.rs
  tests/index.rs
Labels: 🟧 priority: high, 💻 aspect: code, ✨ goal: improvement, 🔢 points: 5

#541 :sparkles: New experimental feature to improve performance using `io_uring` on linux distributions
  Cargo.lock
  Cargo.toml
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, ✨ goal: improvement, 🔢 points: 1

#543 :children_crossing: Thin `lto` for the compilation instead of fat `lto` to improve build times
  Cargo.toml
Labels: 💻 aspect: code, 🟨 priority: medium, ✨ goal: improvement, 🔢 points: 1

#545 ✨ Config option to timeout requests for fetching search results from the upstream search engines
  src/results/aggregator.rs
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, ✨ goal: improvement, 🔢 points: 1

#547 🚸 Further strip away debug symbols to reduce binary size
  Cargo.lock
  Cargo.toml
Labels: 💻 aspect: code, 🟨 priority: medium, ✨ goal: improvement, 🔢 points: 1

#550 :sparkles: Rose pine colorscheme variants for the search engine
  public/static/colorschemes/rose-pine-dawn.css
  public/static/colorschemes/rose-pine-moon.css
  public/static/colorschemes/rose-pine.css
  public/static/themes/simple.css
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, 🔢 points: 3, 🕹 aspect: interface

#548 ✨ Config option to keep `tcp` connection alive for a certain period for subsequent requests
  src/config/parser.rs
  src/results/aggregator.rs
  websurfx/config.lua
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, 🔢 points: 3

#551 :sparkles: Config option to timeout idle connections within the `reqwest` pool
  src/config/parser.rs
  src/results/aggregator.rs
  websurfx/config.lua
Labels: 💻 aspect: code, 🟨 priority: medium, ⭐ goal: addition, 🔢 points: 3
